@import "tailwindcss";

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #007BFF;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

/* src/index.css */

/* Animation for the scrolling review list */
@keyframes scroll-y {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll-y {
  animation: scroll-y 15s linear infinite;
  height: 100%;
  position: relative;
}
.moving-text {
  display: inline-block;
  white-space: nowrap;
  animation: moveLeft 10s linear infinite;
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


